@charset "utf-8";
@font-face {
    font-family: 'D2 coding';
    font-style: normal;
    font-weight: bold;
    src:local('O'),
    url('/fonts/D2Coding.eot?#iefix') format('embedded-opentype'),
    url('/fonts/D2Coding.woff2') format('x-woff2'),
    url('/fonts/D2Coding.woff') format('woff'),
    url('/fonts/D2Coding.eot'),
    url('/fonts/D2Coding.ttf') format('truetype');
}

@font-face{
    font-family:'Godo';
    font-style:normal;
    font-weight:400;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
@font-face{
    font-family:'Godo';
    font-style:normal;
    font-weight:700;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}