<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="alternate" type="application/atom+xml" title="RSS Feed for waCa's blog" href="/feed.xml" />
	<!--[if lt IE 9]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	<script src="/js/jquery-2.1.4.js"></script>
	<!--<![endif]-->
	<link rel="stylesheet" href="/css/highlight/default.css">
	<script src="/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>