<div class="area_paging">
  <span class="inner_paging">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn_prev"><span class="ico_skin ico_prev"></span>Prev</a>
  {% else %}
    <a class="btn_prev no-more-prev"><span class="ico_skin ico_prev"></span>Prev</a>
  {% endif %}
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <a class="link_page">
      <span class="selected">{{ page }}</span>
    </a>
    {% elsif page == 1 %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="link_page">
      <span>{{ page }}</span>
    </a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="link_page">
      <span>{{ page }}</span>
    </a>
    {% endif %}
  {% endfor %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn_next">Next<span class="ico_skin ico_next"></span></a>
  {% else %}
    <a class="btn_next no-more-next">Next<span class="ico_skin ico_next"></span></a>
  {% endif %}
  </span>
</div>