<div id="mFeature" class="wrap_sub">
  <div class="cont_sub">
    <div class="inner_sub">
      <div class="area_sub">
        <div role="navigation" class="area_navi">
          <ul class="tt_category">
            <li>
              <a class="link_tit" href="/">전체 글</a>
              <ul class="category_list">
                {% for nav in site.data.menu.menus %}
                  <li><a class="link_item" href="{{ nav.url }}">{{ nav.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="wrap_etc">
          <div class="col_aside left_side">
              <!-- 공지사항 -->
                <div class="box_aside">
                  <strong class="tit_aside">Notice</strong>
                  <ul class="list_board">
                    {% for post in site.categories.notice %}
                      <li><a href="{{ post.url }}" class="link_board">{{ post.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              <!-- 최근에 올라온 글 -->
            <div class="box_aside">
              <strong class="tit_aside">Recent Posts</strong>
              <ul class="list_board">
                  {% for post in site.posts limit : 5 %}
                 <li><a href="{{ post.url }}" class="link_board">{{ post.title }}</a></li>
                  {% endfor %}
            </ul>
          </div>
              <!-- 링크 -->
          <div class="box_aside">
            <strong class="tit_aside">Link</strong>
            <ul class="list_board">
              <li><a href="{{ site.facebook_url }}" class="link_board" target="_blank">Facebook</a></li>
              <li><a href="{{ site.github_url }}" class="link_board" target="_blank">Github</a></li>
              <li><a href="{{ site.resume_url }}" class="link_board" target="_blank">Resume</a></li>
            </ul>
          </div>
        </div>
        <div class="col_aside right_side">
              <!-- 글 보관함 -->
          <div class="box_aside box_archive">
            <strong class="tit_aside">Archives</strong>
            <ul class="list_keep">
              {% assign counter = 0 %}
              {% for post in site.posts %}
                {% assign thisyear = post.date | date: "%Y" %}
                {% assign prevyear = post.previous.date | date: "%Y" %}
                {% assign counter = counter | plus: 1 %}
                {% if thisyear != prevyear %}
                  <li><a href='/archive/#{{ post.date | date:"%Y" }}' class="link_keep">{{ thisyear }}</a> ({{ counter }})</li>
                  {% assign counter = 0 %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="ico_skin btn_close">닫기</button>
    <strong class="screen_out">관리 메뉴</strong>
    <ul class="list_control">
<!--       <li><a href="[##_owner_url_##]/entry/post" class="ico_skin link_write" title="글쓰기">글쓰기</a></li> -->
<!--       <li><a href="[##_guestbook_link_##]" class="ico_skin link_memo" title="방명록">방명록</a></li> -->
      <li><a href="/feed.xml" class="ico_skin link_rss" title="RSS">RSS</a></li>
<!--       <li><a href="[##_owner_url_##]" class="ico_skin link_manage" title="관리">관리</a></li> -->
    </ul>
  </div>
  </div>
</div>