---
layout : default
permalink: /blog/
---
<div id="mArticle" class="article_skin">
  <div class="list_title">
    <h2 id="dkBody" class="tit_skin"><span class="screen_out">목록</span><span class="txt_title">목록</span></h2>
  </div>
  {% for post in site.categories.blog %}
  <div class="list_content">
    <a href="{{ post.url }}" class="thumbnail_post">{% if post.img %}<img src="/images/{{post.img}}"> {% endif %}</a>
    <a href="{{ post.url }}" class="link_post">
      <strong class="tit_post ">{{ post.title }}</strong>
      <p class="txt_post">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
    </a>
    <div class="detail_info">
      <a href="/{{post.categories}}" class="link_cate">{{ post.categories }}</a>
      <span class="txt_bar"></span>
      <span class="txt_date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
  </div>
  {% endfor%}
  

  <div class="area_paging">
    <span class="inner_paging">
      <a href="javascript:;" class="btn_prev no-more-prev"><span class="ico_skin ico_prev"></span>Prev</a>
      <a href="javscript:;" class="btn_next no-more-next">Next<span class="ico_skin ico_next"></span></a>
    </span>
  </div>
</div>