---
layout : default
permalink : /blog/tool
---
<div id="mArticle" class="article_skin">
  <div class="list_title">
    <h2 id="dkBody" class="tit_skin"><span class="screen_out">Tool</span><span class="txt_title">Tool</span></h2>
  </div>
  {% for post in site.categories.tool %}
  <div class="list_content">
    <a href="{{ post.url }}" class="thumbnail_post">{% if post.img %}<img src="/images/{{post.img}}"> {% endif %}</a>
    <a href="{{ post.url }}" class="link_post">
      <strong class="tit_post ">{{ post.title }}</strong>
      <p class="txt_post">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
    </a>
    <div class="detail_info">
      <a href="/blog/{{post.categories}}" class="link_cate">{{ post.categories }}</a>
      <span class="txt_bar"></span>
      <span class="txt_date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
  </div>
  {% endfor%}
</div>