---
layout : default
---
<div id="mArticle" class="article_skin">
  <h2 id="dkBody" class="screen_out">{{ page.title }}</h2>
  <div class="area_title">
    <strong class="tit_category"><a href="/blog/{{page.categories}}">{{page.categories}}</a></strong>
    <h3 class="tit_post">{{page.title}}</h3>
    <span class="info_post"><a href="/about/">{{site.author}}</a>
      <span class="txt_bar"></span>{{ page.date | date: "%Y-%m-%d" }}
    </span>
  </div>
  <div class="area_view">
    {{ content }}
  </div>
  <div class="area_etc">
    <dl class="list_tag">
      <dt>Tag</dt>
      <dd>{{page.tag}}</dd>
    </dl>
    <strong class="screen_out">공유하기 링크</strong>
      <ul class="list_share">
        <li><a href="#none" class="ico_skin link_fb" data-service="facebook">페이스북</a></li>
        <li><a href="#none" class="ico_skin link_ks" data-service="kakaostory">카카오스토리</a></li>
        <li><a href="#none" class="ico_skin link_tw" data-service="twitter">트위터</a></li>
      </ul>
  </div>
  {% if site.disqus %}
  <div class="area_reply">
    <div id="disqus_thread"></div>
      <script>
		
		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
		/*
		var disqus_config = function () {
		    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		    var d = document, s = d.createElement('script');
		    s.src = '//{{ site.disqus }}.disqus.com/embed.js';
		    s.setAttribute('data-timestamp', +new Date());
		    (d.head || d.body).appendChild(s);
		})();
	  </script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  {% endif %}
</div>
