<div id="mArticle" class="article_skin">
  <h2 id="dkBody" class="screen_out">[##_article_rep_title_##] 본문</h2>
  <div class="area_title">
    <strong class="tit_category"><a href="[##_article_rep_category_link_##]">[##_article_rep_category_##]</a></strong>
    <h3 class="tit_post">[##_article_rep_title_##]</h3>
    <span class="info_post">[##_article_rep_author_##]
      <span class="txt_bar"></span>[##_article_rep_date_##]
    </span>
  </div>
  <div class="area_view">
    [##_article_rep_desc_##]
  </div>
  <div class="area_etc">
    <dl class="list_tag">
      <dt>Tag</dt>
      <dd>[##_tag_label_rep_##]</dd>
    </dl>
    <strong class="screen_out">공유하기 링크</strong>
      <ul class="list_share">
        <li><a href="#none" class="ico_skin link_fb" data-service="facebook">페이스북</a></li>
        <li><a href="#none" class="ico_skin link_ks" data-service="kakaostory">카카오스토리</a></li>
        <li><a href="#none" class="ico_skin link_tw" data-service="twitter">트위터</a></li>
      </ul>
  </div>
  <div class="area_reply">
  </div>
</div>